<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), background-image: url('https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/[<%= @flat.address %>]/400x400?access_token=<%= ENV['MAPBOX_KEY'] %>)">
</div>

<div class = 'container pt-3'>
  <h1 class = 'text-center'> A little bit more about this flat </h1>
  <div class = 'card'>
    <div class = 'card-text'>
      <p>Name:<%= @flat.name %></p>
      <p>Address:<%= @flat.address %></p>
      <p>Description:<%= @flat.description %></p>
      <p>Price: €<%= @flat.price_per_night %></p>
      <p>Number Of Guests: <%= @flat.number_of_guests %></p>
    </div>
    <%= link_to "Add", flats_path, class: 'btn btn-outline-primary'  %>
    <%= link_to "Back", flats_path, class: 'btn btn-outline-danger'  %>
  </div>
  <div class="col-4 p-2">
    <div class="card">
      <h5>Book now</h5>

      <form action="">
        <div class="input-group">
          <span class="input-group-text" id="start-date-label">From:</span>
          <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
        </div>
        <div class="input-group mt-2">
          <span class="input-group-text" id="end-date-label">To:</span>
          <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
        </div>
        <input type="submit" value="Book" class="btn btn-primary" style="width: 100%">
      </form>
    </div>
  </div>
</div>
